<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Инвентаризация</title>
</head>
<body>
    <div>
        <a href="/site">На главную</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Иия компьютера</th>
                <th>Время входа</th>
            </tr>
        </thead>
        <tbody>

        {% for entry in rec %}
            <tr>
                <td><a href="/site/history/username/{{ entry.username}}">{{ entry.username }}</a></td>
                <td><a href="/site/info/computername/{{ entry.computername }}">{{ entry.computername }}</a></td>
                <td>{{ entry.dt }}</td>
            </tr>

        {% endfor %}                
        </tbody>
    </table>


</body>
</html>