<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Инвентаризация</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Иия компьютера</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in pc %}
            <tr>
                <td><a href="history/username/{{ entry.username}}">{{ entry.username }}</a></td>
                <td><a href="computer/{{ entry.computername }}">{{ entry.computername }}</a></td>
            </tr>
        {% endfor %}                
        </tbody>
    </table>


</body>
</html>